<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-todayweather-config" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>todayweather config</name>

    <!-- android -->
    <platform name="android">
    	<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="android.max_aspect" android:value="2.1"/>
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
      <config-file parent="CFBundleDevelopmentRegion" target="*-Info.plist">
        <string>ko_KR</string>
      </config-file>
      <config-file parent="CFBundleLocalizations" target="*-Info.plist">
        <array>
          <string>en</string>
          <string>ko</string>
        </array>
      </config-file>
        <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
            <false/>
        </config-file>
    </platform>
</plugin>
